.portlet {
    margin-top:0px;
    .portlet-content {
            padding:0;
            background:transparent;
    }
}

.row {
    padding:0;
}

.portlet-blogs {
    .entry-body {
        &.col-md-offset-2.col-md-8,
        .col-md-offset-2.col-md-8 {
            width:100%;
            margin:0;
            padding:0;
        }
        .entry-title {
            h1 {
                text-align: left;
                margin: 0;
                padding: 0;
                border: 0;
                vertical-align: baseline;
                font-size: 32px;
                font-family: 'Oswald', sans-serif;
                font-weight: 500;
                line-height: 48px;
            }
        }
        .entry-subtitle {
            h4 {
                margin: 0;
                text-align: left;
                font-size: 24px;
                font-weight: 500;
                font-family: 'Oswald', sans-serif;
            }
        }
    }
    .entry-metadata,
    .entry-footer,
    .entry-navigation {
        display:none;
    }
}
